/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

div, nav, section, p, h1, h2 {
  box-sizing: border-box; }

nav {
  padding: 2em;
  font-size: 1.2em;
}
nav * {
  font-size: 1.2em;
}

nav #next {
  margin-left: 15%;
}

.gallery-container {
  padding: 3em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.vignette{
  flex :20em 0 0;
  padding : 2em;
  border : 1px solid darkslategrey;
}
  .vignette img{
    max-width:100%;
    height : auto;
  }
  .vignette div{
    
  }

.lightboc_container{
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: none;
    position: fixed;
    overflow: scroll;
    background-color: black;
}

.lightboc_container>#lightbox>#lightbox-head>#lightbox_close{
    height: 3%;
    width: 3%;
    color: white;
    background-color: rgba(0,0,0,0.9);
    display:inline-block;
    float: right;

}



.lightboc_container>#lightbox>#lightbox-head>#lightbox_title{
    color: white;
    background-color: rgba(0,0,0,0.9);
    font-weight: bold;
    font-size: large;
    text-align: center;
}

.lightboc_container>#lightbox > #lightbox-img{
    height: 100%;
    width: 100%;
    padding: 2%;
    background-color: rgba(0,0,0,0.9);
    display:inline-block;
    position: relative;
    float: none;

}
#lightbox img{
    display: block;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

}

#lightbox_next{
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
    width: auto;
    height: auto;
    float : left;
}
#lightbox_prev{
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    margin-left: 40%;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
    width: auto;
    height: auto;
    float : left;
}
.lightboc_container>#lightbox>#lightbox-desc{
    height: 100%;
    background-color: rgba(0,0,0,0.9);
}

#description{
    color: white;
}